<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-5 PKS-DS- Firman</title>
</head>

<body>
    <div id="app">

        <div v-if="!Editing">
            <form v-on:submit.prevent="addUser">
                <input type="text" v-model="user">
                <input type="submit" value="Add">
            </form>
        </div>
        <div v-else>
            <form v-on:submit.prevent="updateUser">
                <input type="text" v-model="user">
                <input type="submit" value="Update">
            </form>
        </div>

        <ul>
            <li style="padding: 5px" v-for="(user, index) in users">{{ user.name }}
                <button style="margin-left: 8px;" v-on:click="editUser(index, user)">Edit</button> ||
                <button v-on:click="removeUser(index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var users = [
            {
                name: 'Muhammad Iqbal Mubarok',
            },
            {
                name: 'Ruby Purwanti',
            },
            {
                name: 'Faqih Muhammad',
            }
        ]

        var vm = new Vue({
            el: '#app',
            data: {
                users: users,
                user: '',
                selectedIndex: null,
                Editing: false,
            },
            methods: {
                addUser() {
                    this.users.push({ name: this.user })
                    this.user = ''
                },

                editUser(index, user) {
                    this.user = user.name
                    this.selectedIndex = index
                    this.Editing = true
                },

                updateUser() {
                    this.users.splice(this.selectedIndex, 1, { name: this.user })
                    this.user = ''
                    this.Editing = false
                },

                removeUser(index) {
                    if (confirm('Apakah Anda yakin untuk menghapus?')) {
                        this.users.splice(index, 1)
                    }
                }
            }
        })
    </script>
</body>

</html>
